#textdomain wesnoth-Era_of_Strife
[era]
    id=era_default_strife_{ERA_OF_STRIFE_VERSION}
    name= _ "Default+Strife"
    require_era=yes

    {RANDOM_SIDE}
    {EOS_SIDE strife eventide}
    {EOS_SIDE strife triththa}
    {EOS_SIDE strife saurian}
    {EOS_SIDE strife eltirean}
    {EOS_SIDE strife minotaur}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
[/era]
